* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #d3e1e7;
}

/* RESET */
p, h1, h2, h3, h4, h5, h6, body {
    margin: 0;
    padding: 0;
}

/* buttons */
.buttons-wrapper {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 1.75rem 0;
}

.buttons-wrapper > button {
    margin: 0 0.2rem;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: rgb(235, 253, 255);
}

.buttons-wrapper > button:hover {
    cursor: pointer;
    transform: translateY(-1px);
}

.buttons-wrapper > button:active {
    transform: scale(0.95);
}