* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #d3e1e7;
}

/* RESET */
p, h1, h2, h3, h4, h5, h6, body {
    margin: 0;
    padding: 0;
}

/* FIRST PAGE */

/* SECOND PAGE */

#second-page {
    display: none;
}

/* FOURTH PAGE */

#fourth-page {
    display: none;
}

/* buttons */
.buttons-wrapper {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: right;
}