#first-page {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 3rem;
    display: block;
}

#second-page {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 3rem;
    display: none;
}

#form-date {
   text-align: right;
}

.role-member {
    font-weight: bold;
}

#companies
{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}